# Database
DB_USER=modeltech_user
DB_PASSWORD=change_me_secret
DB_URL=jdbc:postgresql://db:5432/modeltech_hub

# MinIO
MINIO_ROOT_USER=admin_minio
MINIO_ROOT_PASSWORD=minio_password
MINIO_BUCKET=media

# JWT
JWT_SECRET=generer_une_longue_chaine_aleatoire_ici
JWT_EXPIRATION=86400000